.container {
  width: calc(85% - 10px);
  margin: 0 auto;
}

.searchContainer {
  background-color: orange;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

h2 {
  margin: 5px;
}

input {
  margin-left: 5px;
  margin-right: 10px;
}
label {
  margin-left: 10px;
  /* margin-right: 5px; */
}

select {
  margin-left: 5px;
}

article {
  margin: 10px;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
  padding-right: 7px;
}

.url-text {
  color: gray;
  font-size: 0.9rem;
}

.story-text {
  color: gray;
  font-size: 0.8rem;
  text-decoration: none;
}
